<%= form_for(@case_req) do |f| %>
  <% if @case_req.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@case_req.errors.count, "error") %> prohibited this case_req from being saved:</h2>

      <ul>
      <% @case_req.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

    <%= f.hidden_field :application_case_id, :value => @application_case.id %>
    
  <div class="field">
    <%= f.label :requirement_id %>
    <%= f.select :requirement_id, Requirement.all.collect { |p| [ p.requirment, p.id ] }, {prompt: 'Select Requirement'}  %>
  </div>
  <div class="field">
    <%= f.label "free text requirement" %>
    <%= f.text_field :free_requirement %>
  </div>
  <div class="field">
    <%= f.label :status %>
    <%= f.select :status, [ 'pending', 'complete'] %>
  </div>
    <%= f.hidden_field :date_requested, :value => Date.today %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
