<p id="notice"><%= notice %></p>

<h1>Listing Case Requirements</h1>

<table>
  <thead>
    <tr>
      <th>Application case</th>
      <th>Requirement</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @case_requirements.each do |case_requirement| %>
      <tr>
        <td><%= case_requirement.application_case %></td>
        <td><%= case_requirement.requirement %></td>
        <td><%= link_to 'Show', case_requirement %></td>
        <td><%= link_to 'Edit', edit_case_requirement_path(case_requirement) %></td>
        <td><%= link_to 'Destroy', case_requirement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Case requirement', new_case_requirement_path %>
