<p id="notice"><%= notice %></p>

<p>
  <strong>Application case:</strong>
  <%= @case_requirement.application_case %>
</p>

<p>
  <strong>Requirement:</strong>
  <%= @case_requirement.requirement %>
</p>

<%= link_to 'Edit', edit_case_requirement_path(@case_requirement) %> |
<%= link_to 'Back', case_requirements_path %>
