<h2><%= @contact.full_name %></h2>
<h1>Contact Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Address one</th>
      <th>Address two</th>
      <th>Town</th>
      <th>Post code</th>
      <th colspan="3"></th>
    </tr>
  </thead> 

  <tbody>
    <% @contact_addresses.each do |contact_address| %>
      <tr class="<%= cycle('even', 'odd') -%> <% if contact_address.primary %>primary<% end -%>">
        <td><%= contact_address.address_one %></td>
        <td><%= contact_address.address_two %></td>
        <td><%= contact_address.town %></td>
        <td><%= contact_address.post_code %></td>
        <td>
          <% if can? :update, @contact_address  %>
            <%= link_to edit_contact_contact_address_path(@contact, contact_address) do %><i class="fa fa-cog fa-2x"></i><% end %>
            <%= link_to [@contact, contact_address], method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times fa-2x"></i><% end %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, @contact_address  %>
  <%= link_to 'New Contact address', new_contact_contact_address_path(@contact) %>
<% end %>

<%= link_to 'Back', @user %>
