<p id="notice"><%= notice %></p>

<p>
  <strong>Application case:</strong>
  <%= @applicant.application_case %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @applicant.contact %>
</p>

<%= link_to 'Edit', edit_applicant_path(@applicant) %> |
<%= link_to 'Back', applicants_path %>
