<p id="notice"><%= notice %></p>

<p>
  <strong>Requirment:</strong>
  <%= @requirement.requirment %>
</p>

<p>
  <strong>Date needed:</strong>
  <%= @requirement.date_needed %>
</p>

<%= link_to 'Edit', edit_requirement_path(@requirement) %> |
<%= link_to 'Back', requirements_path %>
