<h2>Registration Details</h2>

<%= link_to 'Find existing user', search_users_path %><br><br>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.hidden_field :role_id, :value => @role %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up client" %>
  </div>

<% end %>