<h2>Registration Details</h2>

<%= form_for(@user) do |f| %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.hidden_field :role_id, :value => '1' %>
  </div>

  <div class="field">
    <%= f.fields_for :clients do |f| %>
        <%= f.hidden_field :user_id, :value => current_user.id %>
        <%= f.hidden_field :client_id, :value => current_user.id %>
    <% end %>
  </div>

  <div class="actions">
    <%= f.submit "Sign me up!" %>
  </div>

<% end %>