<h2>Search and add Clients</h2>

<p>Enter email address</p>

<%= form_tag search_users_path, :method => 'get' do %>
  <p>
    <%= text_field_tag :search, params[:search] %><br>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<br>

<table>
	<% @users.try(:each) do |user| %>
		<tr>
			<td>
				<%= user.email %>
			</td>
			<td>
				<% if !@clients.map(&:client_id).include?(user.id) %>	
					<%= button_to "Add as client", add_as_client_path(:client_id => user.id) %>
				<% else %>
					Already a client
				<% end -%>
			</td>
		</tr>
	<% end %>	
</table>