<div class='section_break'>

	<% if @user.has_contact_info? %>
		<h1><%= @user.contact.title %> <%= @user.contact.fname %> <%= @user.contact.lname %></h1>
	<% end %>
	<h2><%= @user.email %></h2>
	<h3><%= @user.role.role %></h3>

	<% if can? :update, @contact %>
		<% if current_user.is_broker_of?(@user) || @user.is_current_user?(current_user) %>
			<%= link_to 'Update contact details', edit_contact_path(@user.contact) %><br>
		<% end %>
	<% end %>

</div>

<% if @user.is_broker? || @user.is_agent? %>
	<div class='section_break'>
		<% if !@extra.nil? %>
		
			<h2>Branch</h2>
			<h4><%= @extra.branch %></h4>

			<%= image_tag @extra.logo.url(:med) %><br>

			<%= link_to 'edit details', edit_user_extra_detail_path(@user, @extra) %>

		<% else %>

			<%= link_to 'Add Brand Details', new_user_extra_detail_path(@user) %>

		<% end %>
	</div>
<% end %>

<div class='section_break'>
	<h3>Contact Address</h3>

	<% if !@user.contact.contact_addresses.empty? %>

		<% @contact_addresses.each do |add|  %>
			<% if @contact_addresses.count == 1 %>
				<div class="note">
					<%= add.address_one %><br>
					<%= add.address_two %><br>
					<%= add.town %><br>
					<%= add.post_code %><br>

					<% if current_user.is_broker_of?(@user) %>
						<%= link_to 'Edit', edit_contact_contact_address_path(@user.contact, add) %>
					<% end -%>

				</div>
			<% elsif add.primary? %>
				<div class="note">
					<%= add.address_one %><br>
					<%= add.address_two %><br>
					<%= add.town %><br>
					<%= add.post_code %><br>

					<% if current_user.is_broker_of?(@user) %>
						<%= link_to 'Edit', edit_contact_contact_address_path(@user.contact, add) %>
					<% end -%>

				</div>
			<% end -%>
		<% end -%>

		<% if @user.contact.contact_addresses.count > 1 %>
			<%= link_to 'see all', contact_contact_addresses_path(@user.contact) %>
		<% end -%>

	<% else %>

		<h4>No Addresses stored</h4>

	<% end %>

	<% if can? :update, @contact_address %>
		<%= link_to 'Add address', new_contact_contact_address_path(@user.contact) %>
	<% end %>

</div>


<div class="section_break">

	<h3>Contact Numbers</h3>

	<% if !@numbers.empty? %>

		<table>
			
			<% @numbers.try(:each) do |number| %>
				
				<tr <% if number.is_primary? %>class="even"<% end -%> >
        			<td><% if number.is_primary? %><i class="fa fa-caret-right"></i><% end -%></td>
					<td><%= number.phone_type %></td>
					<td><b><%= number.phone_number %></b></td>
					<td>
						<%= link_to edit_contact_phone_number_path(@user.contact, number) do %>
							<i class="fa fa-cog fa-2x"></i>
						<% end %>
						<%= link_to [@user.contact, number], method: :delete, data: { confirm: 'Are you sure?' } do %>
							<i class="fa fa-times fa-2x"></i>
						<% end %>
					</td>
				</tr> 
			<% end %>
			
		</table>
	<% else  %>

		<h4>No numbers stored</h4>

	<% end %>
	
	<% if can? :update, @phone_number %>
		<%= link_to 'Add number', new_contact_phone_number_path(@user.contact) %><br>
	<% end %>

</div>

	<div class="section_break">

		<h3>Agent</h3>

		<h4><%= @agent.agent.contact.full_name if !@agent.nil? %></h4>

		<% if @user != current_user || @user.is_broker? %>
			<% if @agent.nil? %>
				<%= link_to "Assign agent", new_user_client_agent_path(@user) %>
			<% else %>
				<%= link_to "Edit agent", edit_user_client_agent_path(@user, @agent) %>
				<%= link_to 'Remove', @agent, method: :delete, data: { confirm: 'Are you sure?' } %>
			<% end -%>
		<% end -%>
	</div>
	

<% if @user == current_user %>
	<div class="section_break">

		<h3>Notification Settings</h3>

		<% if @user.mail_notification_setting.nil? %>
			<%= link_to 'New', new_user_mail_notification_setting_path( @user ) %>
		<% else %>
			<%= link_to 'Edit settings', edit_user_mail_notification_setting_path( @user, @user.mail_notification_setting) %>
		<% end -%>

	</div>
<% end -%>

<% if @user == current_user && current_user.is_broker? %>
	<div class="section_break">

		<h3>Color Pallete</h3>

		<% if @user.global_setting.nil? %>
			<% if !@user.global_setting.color_one == '' %>
				<div class="color-block" style="background-color:<%= @global_setting.color_one %>">
					color one
				</div>
			<% end -%>

			<% if !@user.global_setting.color_two == '' %>
				<div class="color-block" style="background-color:<%= @global_setting.color_two %>">
					color two
				</div>
			<% end -%>

			<% if !@user.global_setting.color_three == '' %>
				<div class="color-block" style="background-color:<%= @global_setting.color_three %>">
					color three
				</div>
			<% end -%>
		<% end -%>

		<% if @user.global_setting.nil? %>
			<%= link_to 'New', new_user_global_setting_path( @user ) %>
		<% else %>
			<%= link_to 'Edit Pallette', edit_user_global_setting_path( @user, @user.global_setting) %>
		<% end -%>

	</div>
<% end -%>

