<% if @user.has_contact_info? %>
	<h1><%= @user.contact.title %> <%= @user.contact.fname %> <%= @user.contact.lname %></h1>
<% end %>
<h2><%= @user.email %></h2>
<h3><%= @user.role.role %></h3>

<% if can? :update, @contact %>
	<% if current_user.is_broker_of? (@user)  %>
		<%= link_to 'Update contact details', edit_contact_path(@user.contact) %>
	<% end %>
<% end %>

<br><br>
<h3>Still to come...</h3>
<ul>
	<li>Add Address Functionality</li>
	<li>Add Phone Functionality</li>
</ul>
