<p id="notice"><%= notice %></p>

<h1>Listing Global Settings</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Color one</th>
      <th>Color two</th>
      <th>Color three</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @global_settings.each do |global_setting| %>
      <tr>
        <td><%= global_setting.user %></td>
        <td><%= global_setting.color_one %></td>
        <td><%= global_setting.color_two %></td>
        <td><%= global_setting.color_three %></td>
        <td><%= link_to 'Show', global_setting %></td>
        <td><%= link_to 'Edit', edit_global_setting_path(global_setting) %></td>
        <td><%= link_to 'Destroy', global_setting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Global setting', new_global_setting_path %>
