<h1>My Clients</h1>

<% if @clients.empty? %>

  <h3>You don't have any clients yet</h3>

<% else  %>

  <table>
    <thead>
      <tr>
        <th>Title</th>
        <th>First name</th>
        <th>Last name</th>
        <th>Mobile</th>
        <th>Email</th>
        <th>Address</th>
        <th>Cases</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.customer.contact.title %></td> 
          <td><%= client.customer.contact.fname %></td>
          <td><%= client.customer.contact.lname %></td> 
          <td>Phone</td>
          <td><%= client.customer.email %></td>
          <td>Address</td>
          <td><%= link_to cases_client_path(client) do %><i class="fa fa-archive fa-2x"></i><% end %></td>
          <td class="actions">
              <%= link_to client.customer do %><i class="fa fa-eye fa-2x"></i><% end %>
              <%= link_to client, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times fa-2x"></i><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<%= link_to 'Add Client', add_new_client_path %>
