<h1>My Clients</h1>

<% if @clients.empty? %>

  <h3>You don't have any clients yet</h3>

<% else  %>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Agent</th>
        <th>Cases</th>
        <th>Actions</th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr class="<%= cycle('even', 'odd') -%>">
          <td><%= client.customer.contact.title %> <%= client.customer.contact.full_name %></td> 
          <td><%= client.customer.email %></td>
          <td><%= client.customer.get_agent(client.customer) %></td>
          <td>
            <% if !client.customer.application_cases.empty? %>
              <%= link_to cases_client_path(client) do %>
                <i class="fa fa-archive fa-2x"></i>
              <% end %>
            <% end %>
          </td>

          <td class="actions">
              <%= link_to client.customer do %><i class="fa fa-eye fa-2x"></i><% end %>
              <%= link_to client, method: :delete, data: { confirm: 'Are you sure?' } do %><i class="fa fa-times fa-2x"></i><% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>

<% end %>

<% if current_user.is_broker?  %>
  <%= link_to 'Add Client', add_new_client_path %>
<% end -%>
