<p id="notice"><%= notice %></p>

<p>
  <strong>Application case:</strong>
  <%= @application_status.application_case %>
</p>

<p>
  <strong>Status:</strong>
  <%= @application_status.status %>
</p>

<%= link_to 'Edit', edit_application_status_path(@application_status) %> |
<%= link_to 'Back', application_statuses_path %>
