<%= form_for(@contact) do |f| %>
  <% if @contact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@contact.errors.count, "error") %> prohibited this contact from being saved:</h2>

      <ul>
      <% @contact.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.select :title, [ 'Mr', 'Mrs', 'Miss'], :prompt => 'Select One'  %>
  </div>
  <div class="field">
    <%= f.label :fname, 'First Name' %>
    <%= f.text_field :fname %>
  </div>
  <div class="field">
    <%= f.label :mname, 'middle name' %>
    <%= f.text_field :mname %>
  </div>
  <div class="field">
    <%= f.label :lname, 'surname' %>
    <%= f.text_field :lname %>
  </div>
  <div class="field">
    <%= f.label :dob, 'date of birthddd' %>
    <%= f.date_select :dob %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
