<h1>Listing Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Role</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= contact.title %> <%= contact.fname %> <%= contact.mname %> <%= contact.lname %></td>
        <td>
          <%= link_to 'Show', contact %>
          <%= link_to 'Edit', edit_contact_path(contact) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>