<%= form_for([@user, @phone_number]) do |f| %>
  <% if @phone_number.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@phone_number.errors.count, "error") %> prohibited this phone_number from being saved:</h2>

      <ul>
      <% @phone_number.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Number' %>
    <%= f.number_field :phone_number %>
  </div>
  <div class="field">
    <%= f.label 'Type' %>
    <%= f.select :phone_type, ['Home', 'Mobile', 'Work'], :prompt => 'Select One'  %>
  </div>
  <div class="field">
    <%= f.label :primary %>
    <%= f.check_box :primary %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
