<h2>Prototype</h2>

<% if user_signed_in? %>
	
	<% if @user.has_contact_info? %>
		<h3><%= current_user.contact.fname %> <%= current_user.contact.lname %></h2>
	<% end  %>
	<h4><%= current_user.email %></h4>
	<h5><%= current_user.role.role %></h4>

	<%= link_to 'Edit contact Details', edit_contact_path(current_user.contact) %>

<% end %>