<% if user_signed_in? %>
	
	<% if current_user.has_contact_info? %>
		<h2>Hi <%= current_user.contact.fname %> <%= current_user.contact.lname %></h2>
	<% end %>
	<h3><%= current_user.email %></h4>
	<h4><%= current_user.role.role %></h4>

	<% if can? :update, current_user.contact %>
		<%= link_to 'Edit contact Details', edit_contact_path(current_user.contact) %>
	<% end %>

<% end %>