<%= form_for(@mortgage_address) do |f| %>
  <% if @mortgage_address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mortgage_address.errors.count, "error") %> prohibited this mortgage_address from being saved:</h2>

      <ul>
      <% @mortgage_address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :address_one %><br>
    <%= f.text_field :address_one %>
  </div>
  <div class="field">
    <%= f.label :address_two %><br>
    <%= f.text_field :address_two %>
  </div>
  <div class="field">
    <%= f.label :town %><br>
    <%= f.text_field :town %>
  </div>
  <div class="field">
    <%= f.label :county %><br>
    <%= f.text_field :county %>
  </div>
  <div class="field">
    <%= f.label :pcode %><br>
    <%= f.text_field :pcode %>
  </div>
  <div class="field">
    <%= f.label :application_case_id %><br>
    <%= f.text_field :application_case_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
