<p id="notice"><%= notice %></p>

<h1>Listing Mortgage Addresses</h1>

<table>
  <thead>
    <tr>
      <th>Address one</th>
      <th>Address two</th>
      <th>Town</th>
      <th>County</th>
      <th>Pcode</th>
      <th>Application case</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @mortgage_addresses.each do |mortgage_address| %>
      <tr>
        <td><%= mortgage_address.address_one %></td>
        <td><%= mortgage_address.address_two %></td>
        <td><%= mortgage_address.town %></td>
        <td><%= mortgage_address.county %></td>
        <td><%= mortgage_address.pcode %></td>
        <td><%= mortgage_address.application_case %></td>
        <td><%= link_to 'Show', mortgage_address %></td>
        <td><%= link_to 'Edit', edit_mortgage_address_path(mortgage_address) %></td>
        <td><%= link_to 'Destroy', mortgage_address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Mortgage address', new_mortgage_address_path %>
