<p id="notice"><%= notice %></p>

<p>
  <strong>Address one:</strong>
  <%= @mortgage_address.address_one %>
</p>

<p>
  <strong>Address two:</strong>
  <%= @mortgage_address.address_two %>
</p>

<p>
  <strong>Town:</strong>
  <%= @mortgage_address.town %>
</p>

<p>
  <strong>County:</strong>
  <%= @mortgage_address.county %>
</p>

<p>
  <strong>Pcode:</strong>
  <%= @mortgage_address.pcode %>
</p>

<p>
  <strong>Application case:</strong>
  <%= @mortgage_address.application_case %>
</p>

<%= link_to 'Edit', edit_mortgage_address_path(@mortgage_address) %> |
<%= link_to 'Back', mortgage_addresses_path %>
