  <%= form_for @application_case do |f| %>
  	<div class="field">
        <%= f.label :status %>
        <%= f.select :status, [ 'setup', 'dip', 'full application', 'valuation', 'offer', 'exchanged', 'completed' ], :prompt => 'Select One' %>
    </div>
    <div class="field">
        <%= f.label :active %>
        <%= f.select :active, [ ['Open', true],['Closed', false]] %>
    </div>
    <%= f.submit %>
  <% end %>