<h1>Listing Cases</h1>

<table>
  <thead>
    <tr>
      <th>Reference</th>
      <th>Lender</th>
      <% if current_user.is_broker? %>
        <th>Applicant</th>
      <% end  %>
      <th>Status</th>
      <th>Mortgage</th>
      <th>Valuation</th>
      <th>Type</th>
      <th>Last update</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @application_cases.each do |application_case| %>
      <tr>
        <td><%= application_case.id %></td>
        <td><%= application_case.lender.name %></td>
        <% if current_user.is_broker? %>
          <td>
            <% if application_case.has_applicants?  %>
            <%= application_case.applicants.first.user.contact.fname %> <%= application_case.applicants.first.user.contact.lname %>
            <% end %>
          </td>
        <% end %>
        <td><%= application_case.status %></td>
        <td><%= number_to_currency_gbp(application_case.mortgage) %></td>
        <td><%= number_to_currency_gbp(application_case.valuation) %></td>
        <td><%= application_case.app_type %></td>
        <td><%= application_case.updated_at %></td>
        <td><%= link_to 'Show', application_case %>
            <% if can_edit?(application_case) %>
              <%= link_to 'Edit', edit_application_case_path(application_case) %>
              <%= link_to 'Destroy', application_case, method: :delete, data: { confirm: 'Are you sure?' } %>
            <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Application case', new_user_application_case_path(current_user) %>
