<h1>Case Profile</h1>
<h3>
  Broker: <%= @application_case.broker.contact.full_name %>
  <% if !@agent.nil? %>
    <br>Agent: <%= @agent.user.contact.full_name %>
  <% end -%>
</h3>
<div class="section_break">

    <table class="case-table">
      <tr><td>Application Type: </td><td class="input"><%= @application_case.app_type %></td></tr>
      <tr><td>Mortgage Amount: </td><td class="input"><%= number_to_currency_gbp(@application_case.mortgage) %></td></tr>
      <tr><td>Valuation:</td><td class="input"><%= number_to_currency_gbp(@application_case.valuation) %></td></tr>
      <tr><td>Term: </td><td class="input"><%= @application_case.term %> years</td></tr>
      <tr><td>Repayment: </td><td class="input"><%= @application_case.repayment %></td></tr>
      <tr><td>Product: </td><td class="input"><%= @application_case.product %></td></tr>
      <tr><td>Expiry: </td><td class="input">

        <% if !@application_case.lifetime?  %>
          <%= @application_case.expiry.strftime("%d %b %y") %>
        <% else %>
          lifetime
        <% end -%>
      </td></tr>
      <tr><td>Case Ref: </td><td class="input"><%= "%05d" % @application_case.id %></td></tr>
    </table>

  <% if can? :update, @application_case %>
    <%= link_to 'Edit', edit_application_case_path(@application_case) %>
  <% end %>
</div>

<div class="section_break">
    <h2>Applicants</h2>
    <% if current_user.is_broker? %>
      <%= link_to 'Add Applicant', find_client_application_case_path(@application_case) %><br>
    <% end %>
    <table>
      <thead>
        <tr>
          <th>Applicant</th>
          <th>Phone</th>
          <th>Email</th>
          <th></th>
        </tr>
      </thead>

      <% @applicants.each do |applicant| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td><%= applicant.user.contact.title %> <%= applicant.user.contact.fname %> <%= applicant.user.contact.lname %></td>
            <td><%= applicant.user.phone_numbers.primary.first.phone_number if !applicant.user.phone_numbers.empty? %></td>
            <td><%= applicant.user.email %></td>
            <td class="actions">
                <% if can? :delete, applicant %>
                  <%= link_to applicant,
                       method: :delete,
                       data: { confirm: 'Are you sure?' } do %>
                       <i class="fa fa-times fa-2x"></i>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>

    </table>
</div>

<div class="section_break">
    <h2>Lender</h2>

  <table class="case-table">
      <tr><td>lender </td><td class="input"><%= @application_case.lender.name %></td></tr>
      <% if !current_user.is_agent? %>
        <tr><td>Lender Ref: </td><td class="input"><%= @application_case.lender_ref  %></td></tr>
      <% end -%>
      <% if current_user.is_broker? %>
        <tr><td>HQ Phone: </td><td class="input"><%= @application_case.lender.admin_phone %></td></tr>
        <tr><td>Sales phone: </td><td class="input"><%= @application_case.lender.sales_phone %></td></tr>
        <tr><td>Email:</td><td class="input"><%= @application_case.lender.email %></td></tr>
        <tr><td>Address: </td><td class="input"><%= simple_format(@application_case.lender.hq_address) %></td></tr>
      <% end-%>
    </table>

</div>

<div class="section_break">
    <h2>Agent</h2>

    <% if !@agent.nil? %>
      <table>      
          <thead>
            <tr>
              <th>Agent</th>
              <th>Phone</th>
              <th>Email</th>
              <th></th>
            </tr>
          </thead>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td><%= @agent.user.contact.title %> <%= @agent.user.contact.fname %> <%= @agent.user.contact.lname %></td>
            <td><%= @agent.user.phone_numbers.primary.first.phone_number if !@agent.user.phone_numbers.empty? %></td>
            <td><%= @agent.user.email %></td>
              <td class="actions">
                  <% if can? :delete, @agent %>
                    <%= link_to @agent,
                         method: :delete,
                         data: { confirm: 'Are you sure?' } do %>
                         <i class="fa fa-times fa-2x"></i>
                    <% end %>
                  <% end %>
              </td>
          </tr>
      </table>

    <% else  %>

      <%= link_to 'add agent', application_case_search_agents_path(@application_case) %>

    <% end %>

</div>
<div class="section_break">

  <h2>Mortgage Address</h2>
    <%= @m_address.address_one %><br>
    <%= @m_address.address_two %><br>
    <%= @m_address.town %><br>
    <%= @m_address.county %><br>
    <%= @m_address.pcode %><br>

</div>

<br>
<div class="section_break">
  <h2>status</h2>

  <ul class="status">
      <% @statuses.each do |status| %>
        <li <% if @status.first.status.status == status.status %> class="active"<% end %>><%= status.status %></li>
      <% end -%>
  </ul>

  <% if can? :update, @status %>
    <% if @status.nil? %>
      <%= link_to 'add Status', new_application_case_application_status_path(@application_case) %>
    <% else %>
      <%= link_to 'Update Status', edit_application_case_application_status_path(@application_case, @status.first.id) %>
    <% end %>
  <% end -%>

</div>


<div class="section_break">
  <h2>Requirements</h2>

  <% if @application_case.is_brokered_by?(current_user) %>
    <% if can? :create, @case_requirement %>
      <%= link_to 'Add Requirement', new_application_case_case_requirement_path(@application_case) %><br><br>
    <% end %>
  <% end %>

  <% if @requirements.empty? %>
  <% else %>
    <table>
    <thead>
        <tr>
          <th>Requirement</th>
          <th>Date Requested</th>
          <th>Date Satisfied</th>
          <th>status</th>
          <th></th>
        </tr>
      </thead>
      <% @requirements.each do |case_req| %>
          <tr class="<%= cycle('even', 'odd') -%>">
            <td>
              <% if case_req.requirement.nil? %>
                <%= case_req.free_requirement %>
              <% elsif %>
                <%= case_req.requirement.requirment %>
              <% end %>
            </td>
            <td><%= case_req.date_requested %></td>
            <td><%= case_req.date_satisfied %></td>
            <td><%= fa_icon case_req.is_complete, class: "fa-2x" %></td>

            <td class="actions">

              <% if @application_case.is_brokered_by?(current_user) %>
                  <% if can? :update, case_req %>
                    <%= link_to edit_application_case_case_requirement_path(@application_case, case_req) do %>
                      <i class="fa fa-cog fa-2x"></i>
                    <% end %>
                  <% end %>
                  <% if can? :delete, case_req %>
                    <%= link_to [case_req],
                         method: :delete,
                         data: { confirm: 'Are you sure?' } do %>
                         <i class="fa fa-times fa-2x"></i>
                    <% end %>
                  <% end %>
              <% end %>
            </td>
          </tr>
      <% end %>
    </table>
  <% end %>
</div>

<div class="notes">
  <h2>Notes</h2>

  <% @notes.each do |note| %>
    <div class="note">
      <%= note.user.contact.full_name %> | <%= note.user.role.role %> | <%= note.created_at.to_formatted_s(:short) %><br><br>
      <%= note.note %><br><br>
      <%= link_to 'Edit', edit_application_case_note_path(@application_case, note) %>
      <%= link_to 'Delete', [note.application_case, note],
               method: :delete,
               data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>

  <%= form_for([@application_case, @application_case.notes.build]) do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <p>
      <%= f.text_area :note %>
    </p>
    <p>
      <%= f.submit %>
    </p>
  <% end %>
</div>
