<!DOCTYPE html>
<html>
<head>
  <title>MortgageAideProto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-span">
  <div class="header">
    <div class="sign_up_bar">
      <% if user_signed_in? %>
          <%= link_to current_user do %>
        	  <%= current_user.email %><br>
          <% end  %>
        	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        	<%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <div class="title">

    <% if user_signed_in? %>
      <% if !current_user.extra_details.empty?  %>
        
        <%= image_tag current_user.extra_detail.logo.url(:med) %>
        <h2><%= current_user.extra_detail.branch %></h2><br>

      <% end %>
    <% end -%>

      <%= link_to root_path do %>
        <h1>mortgage|Aide</h1>
      <% end %>

    </div>
  </div>
  <div class="nav_bar">

      <% if user_signed_in? %>
        <ul class="nav">
          <% if current_user.is_agent? %>
            <li>
              <%= link_to my_clients_path do %>
                <i class="fa fa-users fa-2x"></i><br>My Clients
              <% end  %>
            </li>
          <% end -%>
          <% if current_user.is_broker? %>
            <li>
              <%= link_to clients_path do %>
                <i class="fa fa-users fa-2x"></i><br>My Clients
              <% end  %>
            </li>
            <li>
              <%= link_to add_new_client_path do %>
                <i class="fa fa-user-plus fa-2x"></i><br>New Client
              <% end  %>
            </li>
            <li>
              <%= link_to new_case_path do %>
                <i class="fa fa-folder-open fa-2x"></i><br>New case
              <% end  %> 
            </li>
          <% end -%>
          <li>
            <%= link_to my_cases_path do %>
                <i class="fa fa-archive fa-2x"></i><br>My Cases
            <% end %>
          </li>
        </ul> 
      <% end %>
    </div>

</div>
<div class="container">
  <p id="notice"><%= notice %></p>
    <%= yield %>
</div>

<div class="footer">

  <div class="fixed-width">
    <%= link_to 'admin', admin_root_path %>
  </div>

</div>
</body>
</html>
