<!DOCTYPE html>
<html>
<head>
  <title>MortgageAideProto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

  <link href='http://fonts.googleapis.com/css?family=EB+Garamond' rel='stylesheet' type='text/css'>

  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-span">
  <div class="header">
    <div class="sign_up_bar">
      <% if user_signed_in? %>
        	<%= current_user.email %><br>
        	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        	<%= link_to "sign in", new_user_session_path %>
      <% end %>
    </div>
    <%= link_to root_path do %>
      <h1>mortgage|Aide</h1>
    <% end %>

    <div class="nav">
      <% if user_signed_in? %> 
        <% if current_user.is_broker? %>
          <%= link_to clients_path do %>
            <div class="link">
              <i class="fa fa-users fa-2x"></i><br>My Clients
            </div>
          <% end  %>
          <%= link_to add_new_client_path do %>
            <div class="link">
              <i class="fa fa-user-plus fa-2x"></i><br>New Client
            </div>
          <% end  %>
          <%= link_to new_case_path do %>
            <div class="link">
              <i class="fa fa-folder-open fa-2x"></i><br>New case
            </div>
          <% end  %>  
        <% end %>
          <%= link_to my_cases_path do %>
            <div class="link">
              <i class="fa fa-archive fa-2x"></i><br>My Cases
            </div>
          <% end  %>  
      <% end %>
      </div>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
    <%= yield %>
</div>

<div class="footer">

  <div class="fixed-width">
    <%= link_to 'admin', admin_root_path %>
  </div>

</div>
</body>
</html>
