<!DOCTYPE html>
<html>
<head>
  <title>MortgageAideProto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="header-span">
  <div class="header">
    <div class="sign_up_bar">
      <% if user_signed_in? %>
        	Signed in as <%= current_user.email %>. Not you?<br><br>
        	<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      <% else %>
        	<%= link_to "sign in", new_user_session_path %>
      <% end %>
      <%= link_to 'admin', admin_root_path %>
    </div>
    <h1>mortgage|Aide</h1>
    <div class="nav">
      <% if user_signed_in? %> 
        <%= link_to 'Home', root_path %>
        <% if current_user.is_broker? %>
          <%= link_to 'My Clients', clients_path %>
          <%= link_to 'New case', new_case_path %>  
        <% end %>
        <%= link_to 'My Cases', my_cases_path %> 
      <% end %>
      </div>
  </div>
</div>
<div class="container">
  <p id="notice"><%= notice %></p>
    <%= yield %>
</div>


</body>
</html>
